<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath*:chainlink-ext-spring.xml"/>

    <bean id="runBatchlet" class="io.machinecode.chainlink.core.execution.batchlet.artifact.RunBatchlet" />
    <bean id="stopBatchlet" class="io.machinecode.chainlink.core.execution.batchlet.artifact.StopBatchlet" />
    <bean id="failBatchlet" class="io.machinecode.chainlink.core.execution.batchlet.artifact.FailBatchlet" />
    <bean id="injectedBatchlet" class="io.machinecode.chainlink.core.execution.batchlet.artifact.InjectedBatchlet" />
</beans>