<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath*:chainlink-ext-spring.xml"/>

    <bean id="artifactInstanceTestJobListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.ArtifactInstanceTestJobListener" />
    <bean id="artifactInstanceTestStepListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.ArtifactInstanceTestStepListener" />
    <bean id="artifactInstanceTestChunkListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.ArtifactInstanceTestChunkListener" />
    <bean id="artifactInstanceTestReader" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.ArtifactInstanceTestReader" />
    <bean id="artifactInstanceTestWriter" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.ArtifactInstanceTestWriter" />
    <bean id="batchletRestartStateMachineImpl" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.BatchletRestartStateMachineImpl" />
    <bean id="batchletUsingStepContextImpl" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.BatchletUsingStepContextImpl" />
    <bean id="chunkOnErrorCheckpointListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.ChunkOnErrorCheckpointListener" />
    <bean id="contextsGetIdJobContextTestBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.ContextsGetIdJobContextTestBatchlet" />
    <bean id="contextsGetIdStepContextTestBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.ContextsGetIdStepContextTestBatchlet" />
    <bean id="countInvocationsStepListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.reusable.CountInvocationsStepListener" />
    <bean id="countInvocationsObjectParameterizationStepListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.reusable.CountInvocationsObjectParameterizationStepListener" />
    <bean id="deciderTestsJobListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.DeciderTestsJobListener" />
    <bean id="deciderTestsBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.DeciderTestsBatchlet" />
    <bean id="deciderTestsDecider" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.DeciderTestsDecider" />
    <bean id="defaultValueArrayWriter" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.DefaultValueArrayWriter" />
    <bean id="doSomethingArrayItemReaderImpl" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.DoSomethingArrayItemReaderImpl" />
    <bean id="doSomethingArrayItemProcessorImpl" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.DoSomethingArrayItemProcessorImpl" />
    <bean id="doSomethingItemProcessorImpl" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.DoSomethingItemProcessorImpl" />
    <bean id="doSomethingItemReaderImpl" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.DoSomethingItemReaderImpl" />
    <bean id="doSomethingItemWriterImpl" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.DoSomethingItemWriterImpl" />
    <bean id="doSomethingSimpleArrayWriter" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.DoSomethingSimpleArrayWriter" />
    <bean id="doSomethingSimpleTimeArrayReader" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.DoSomethingSimpleTimeArrayReader" />
    <bean id="doSomethingSimpleTimeArrayWriter" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.DoSomethingSimpleTimeArrayWriter" />
    <bean id="failRestartBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.FailRestartBatchlet" />
    <bean id="flowTransitionToDecisionTestBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.FlowTransitionToDecisionTestBatchlet" />
    <bean id="flowTransitionWithinFlowTestBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.FlowTransitionWithinFlowTestBatchlet" />
    <bean id="flowTransitionToDecisionTestDecider" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.FlowTransitionToDecisionTestDecider" />
    <bean id="inventoryInitReader" scope="prototype" class="com.ibm.jbatch.tck.artifacts.chunkartifacts.InventoryInitReader" />
    <bean id="inventoryInitProcessor" scope="prototype" class="com.ibm.jbatch.tck.artifacts.chunkartifacts.InventoryInitProcessor" />
    <bean id="inventoryInitWriter" scope="prototype" class="com.ibm.jbatch.tck.artifacts.chunkartifacts.InventoryInitWriter" />
    <bean id="inventoryStepListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.chunkartifacts.InventoryStepListener" />
    <bean id="inventoryReader" scope="prototype" class="com.ibm.jbatch.tck.artifacts.chunkartifacts.InventoryReader" />
    <bean id="inventoryProcessor" scope="prototype" class="com.ibm.jbatch.tck.artifacts.chunkartifacts.InventoryProcessor" />
    <bean id="inventoryWriter" scope="prototype" class="com.ibm.jbatch.tck.artifacts.chunkartifacts.InventoryWriter" />
    <bean id="inventoryCheckpointAlgorithmNoOverride" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.InventoryCheckpointAlgorithmNoOverride" />
    <bean id="inventoryCheckpointAlgorithmOverride150" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.InventoryCheckpointAlgorithmOverride150" />
    <bean id="jobAttributesTestBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.JobAttributesTestBatchlet" />
    <bean id="jobContextTestBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.JobContextTestBatchlet" />
    <bean id="jobLevelPropertiesCountBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.JobLevelPropertiesCountBatchlet" />
    <bean id="jobLevelPropertiesShouldNotBeAvailableThroughStepContextBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.JobLevelPropertiesShouldNotBeAvailableThroughStepContextBatchlet" />
    <bean id="jobLevelPropertiesPropertyValueBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.JobLevelPropertiesPropertyValueBatchlet" />
    <bean id="listenerOnErrorReader" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.ListenerOnErrorReader" />
    <bean id="listenerOnErrorProcessor" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.ListenerOnErrorProcessor" />
    <bean id="listenerOnErrorWriter" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.ListenerOnErrorWriter" />
    <bean id="metricsStepListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MetricsStepListener" />
    <bean id="multipleExitStatusBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MultipleExitStatusBatchlet" />
    <bean id="myBatchletImpl" scope="prototype" class="com.ibm.jbatch.tck.artifacts.reusable.MyBatchletImpl" />
    <bean id="myBatchletWithPropertiesImpl" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MyBatchletWithPropertiesImpl" />
    <bean id="myChunkListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MyChunkListener" />
    <bean id="myCustomCheckpointAlgorithm" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MyCustomCheckpointAlgorithm" />
    <bean id="myCustomCheckpointListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MyCustomCheckpointListener" />
    <bean id="myItemReadListenerImpl" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MyItemReadListenerImpl" />
    <bean id="myItemProcessListenerImpl" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MyItemProcessListenerImpl" />
    <bean id="myItemWriteListenerImpl" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MyItemWriteListenerImpl" />
    <bean id="myLongRunningBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MyLongRunningBatchletImpl" />
    <bean id="myMultipleExceptionsRetryReadListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MyMultipleExceptionsRetryReadListener" />
    <bean id="myPartitionAnalyzer" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MyPartitionAnalyzer" />
    <bean id="myPartitionCollector" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MyPartitionCollector" />
    <bean id="myPartitionReducer" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MyPartitionReducer" />
    <bean id="myParallelSubJobsExitStatusBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.reusable.MyParallelSubJobsExitStatusBatchlet" />
    <bean id="myPartitionedBatchletImpl" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MyPartitionedBatchletImpl" />
    <bean id="myPartitionMapper" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MyPartitionMapper" />
    <bean id="myRetryReadListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MyRetryReadListener" />
    <bean id="myRetryProcessListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MyRetryProcessListener" />
    <bean id="myRetryWriteListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MyRetryWriteListener" />
    <bean id="mySimpleCustomCheckpointAlgorithm" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MySimpleCustomCheckpointAlgorithm" />
    <bean id="mySkipProcessListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MySkipProcessListener" />
    <bean id="mySkipReaderExceedListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MySkipReaderExceedListener" />
    <bean id="mySkipReadListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MySkipReadListener" />
    <bean id="mySkipWriteListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MySkipWriteListener" />
    <bean id="myTimeCheckpointListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MyTimeCheckpointListener" />
    <bean id="myUniversalListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.MyUniversalListener" />
    <bean id="numbersRetryReadListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.NumbersRetryReadListener" />
    <bean id="numbersSkipReadListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.NumbersSkipReadListener" />
    <bean id="numbersRetryProcessListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.NumbersRetryProcessListener" />
    <bean id="numbersSkipProcessListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.NumbersSkipProcessListener" />
    <bean id="numbersRetryWriteListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.NumbersRetryWriteListener" />
    <bean id="numbersSkipWriteListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.NumbersSkipWriteListener" />
    <bean id="nullChkPtInfoReader" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.NullChkPtInfoReader" />
    <bean id="nullChkPtInfoWriter" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.NullChkPtInfoWriter" />
    <bean id="overrideOnAttributeValuesUponRestartBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.OverrideOnAttributeValuesUponRestartBatchlet" />
    <bean id="parsingPartitionAnalyzer" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.ParsingPartitionAnalyzer" />
    <bean id="retryReader" scope="prototype" class="com.ibm.jbatch.tck.artifacts.chunkartifacts.RetryReader" />
    <bean id="retryProcessor" scope="prototype" class="com.ibm.jbatch.tck.artifacts.chunkartifacts.RetryProcessor" />
    <bean id="retryWriter" scope="prototype" class="com.ibm.jbatch.tck.artifacts.chunkartifacts.RetryWriter" />
    <bean id="simpleJobListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.reusable.SimpleJobListener" />
    <bean id="skipProcessor" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.SkipProcessor" />
    <bean id="skipReader" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.SkipReader" />
    <bean id="skipReaderMultipleExceptions" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.SkipReaderMultipleExceptions" />
    <bean id="skipWriter" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.SkipWriter" />
    <bean id="splitFlowTransitionLoopTestBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.SplitFlowTransitionLoopTestBatchlet" />
    <bean id="splitTransitionToDecisionTestBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.SplitTransitionToDecisionTestBatchlet" />
    <bean id="splitTransitionToDecisionTestDecider" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.SplitTransitionToDecisionTestDecider" />
    <bean id="splitTransitionToStepTestBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.SplitTransitionToStepTestBatchlet" />
    <bean id="startLimitJobListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.StartLimitJobListener" />
    <bean id="startLimitStateMachineVariation1Batchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.StartLimitStateMachineVariation1Batchlet" />
    <bean id="startLimitStateMachineVariation2Batchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.StartLimitStateMachineVariation2Batchlet" />
    <bean id="startLimitStateMachineVariation3Batchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.StartLimitStateMachineVariation3Batchlet" />
    <bean id="stepContextTestBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.StepContextTestBatchlet" />
    <bean id="stepLevelPropertiesCountBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.StepLevelPropertiesCountBatchlet" />
    <bean id="stepLevelPropertiesShouldNotBeAvailableThroughJobContextBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.StepLevelPropertiesShouldNotBeAvailableThroughJobContextBatchlet" />
    <bean id="stepLevelPropertiesPropertyValueBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.StepLevelPropertiesPropertyValueBatchlet" />
    <bean id="threadTrackingJobListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.ThreadTrackingJobListener" />
    <bean id="threadTrackingStepListener" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.ThreadTrackingStepListener" />
    <bean id="transitionDecider" scope="prototype" class="com.ibm.jbatch.tck.artifacts.specialized.TransitionDecider" />
    <bean id="transitionTrackerBatchlet" scope="prototype" class="com.ibm.jbatch.tck.artifacts.reusable.TransitionTrackerBatchlet" />
</beans>