# Maven output
target

# Versions plugin
*.versionsBackup

# VIM
*.swp

# JOE
*~

# IDEA
*.iml
*.ipr
*.iws
.idea/
idea

# Eclipse
.metadata
.project
.settings

# Build
test.properties
chainlink-tck.properties
