<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="io.machinecode.chainlink.jsl.groovy">
    <resources>
        <resource-root path="chainlink-jsl-groovy-${project.version}.jar"/>
    </resources>

    <dependencies>
        <module name="io.machinecode.chainlink"/>
        <module name="org.codehaus.groovy"/>
    </dependencies>
</module>
