<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="io.machinecode.chainlink">
    <resources>
        <resource-root path="chainlink-spi-${project.version}.jar"/>
        <resource-root path="chainlink-core-${project.version}.jar"/>
        <resource-root path="chainlink-ee-wildfly-${project.version}.jar"/>
        <resource-root path="chainlink-inject-core-${project.version}.jar"/>
        <resource-root path="chainlink-jsl-core-${project.version}.jar"/>
        <resource-root path="chainlink-jsl-xml-${project.version}.jar"/>
        <resource-root path="chainlink-repository-core-${project.version}.jar"/>
        <resource-root path="chainlink-repository-memory-${project.version}.jar"/>
        <resource-root path="chainlink-transport-core-${project.version}.jar"/>
        <resource-root path="chainlink-marshalling-jboss-${project.version}.jar"/>
    </resources>

    <dependencies>
        <module name="io.machinecode.then"/>
        <module name="gnu.trove"/>
        <module name="javax.api"/>
        <module name="javaee.api"/>
        <module name="javax.enterprise.api"/>
        <module name="javax.transaction.api"/>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.as.ee"/>
        <module name="org.jboss.as.server"/>
        <module name="org.jboss.modules"/>
        <module name="org.jboss.staxmapper"/>
        <module name="org.jboss.as.transactions"/>
        <!--
        <module name="org.jboss.dmr"/>
        <module name="org.jboss.msc"/>org.jboss.as.ee
        -->
        <module name="org.jboss.jts"/>
        <module name="org.jboss.marshalling"/>
        <module name="org.jboss.marshalling.river"/>
        <module name="org.jboss.logging"/>
    </dependencies>
</module>
