<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath*:chainlink-inject-spring.xml"/>

    <bean id="runBatchlet" class="io.machinecode.chainlink.test.core.execution.artifact.batchlet.RunBatchlet" />
    <bean id="stopBatchlet" class="io.machinecode.chainlink.test.core.execution.artifact.batchlet.StopBatchlet" />
    <bean id="failBatchlet" class="io.machinecode.chainlink.test.core.execution.artifact.batchlet.FailBatchlet" />
    <bean id="injectedBatchlet" class="io.machinecode.chainlink.test.core.execution.artifact.batchlet.InjectedBatchlet" />
</beans>