<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath*:nock-inject-spring.xml"/>

    <bean id="run-batchlet" class="io.machinecode.nock.test.core.transport.artifact.batchlet.RunBatchlet" />
    <bean id="stop-batchlet" class="io.machinecode.nock.test.core.transport.artifact.batchlet.StopBatchlet" />
    <bean id="fail-batchlet" class="io.machinecode.nock.test.core.transport.artifact.batchlet.FailBatchlet" />
    <bean id="injected-batchlet" class="io.machinecode.nock.test.core.transport.artifact.batchlet.InjectedBatchlet" />
</beans>