<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="io.machinecode.chainlink.ext.redis">
    <resources>
        <resource-root path="chainlink-ext-redis-${project.version}.jar"/>
    </resources>

    <dependencies>
        <module name="gnu.trove"/>
        <module name="io.machinecode.chainlink"/>
        <module name="jedis"/>
    </dependencies>
</module>
