<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.jongo">
    <resources>
        <resource-root path="jongo-${version.org.jongo.jongo}.jar"/>
        <resource-root path="mongo-java-driver-${version.org.mongodb.mongo-java-driver}.jar"/>
    </resources>
</module>
