<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="io.machinecode.chainlink.repository.hazelcast">
    <resources>
        <resource-root path="chainlink-repository-hazelcast-${project.version}.jar"/>
    </resources>

    <dependencies>
        <module name="gnu.trove"/>
        <module name="io.machinecode.chainlink"/>
        <module name="com.hazelcast"/>
    </dependencies>
</module>
