<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath*:nock-inject-spring.xml"/>

    <bean id="artifactInstanceTestJobListener" class="com.ibm.jbatch.tck.artifacts.specialized.ArtifactInstanceTestJobListener" />
    <bean id="artifactInstanceTestStepListener" class="com.ibm.jbatch.tck.artifacts.specialized.ArtifactInstanceTestStepListener" />
    <bean id="artifactInstanceTestChunkListener" class="com.ibm.jbatch.tck.artifacts.specialized.ArtifactInstanceTestChunkListener" />
    <bean id="artifactInstanceTestReader" class="com.ibm.jbatch.tck.artifacts.specialized.ArtifactInstanceTestReader" />
    <bean id="artifactInstanceTestWriter" class="com.ibm.jbatch.tck.artifacts.specialized.ArtifactInstanceTestWriter" />
    <bean id="batchletRestartStateMachineImpl" class="com.ibm.jbatch.tck.artifacts.specialized.BatchletRestartStateMachineImpl" />
    <bean id="batchletUsingStepContextImpl" class="com.ibm.jbatch.tck.artifacts.specialized.BatchletUsingStepContextImpl" />
    <bean id="chunkOnErrorCheckpointListener" class="com.ibm.jbatch.tck.artifacts.specialized.ChunkOnErrorCheckpointListener" />
    <bean id="contextsGetIdJobContextTestBatchlet" class="com.ibm.jbatch.tck.artifacts.specialized.ContextsGetIdJobContextTestBatchlet" />
    <bean id="countInvocationsStepListener" class="com.ibm.jbatch.tck.artifacts.reusable.CountInvocationsStepListener" />
    <bean id="countInvocationsObjectParameterizationStepListener" class="com.ibm.jbatch.tck.artifacts.reusable.CountInvocationsObjectParameterizationStepListener" />
    <bean id="deciderTestsJobListener" class="com.ibm.jbatch.tck.artifacts.specialized.DeciderTestsJobListener" />
    <bean id="deciderTestsBatchlet" class="com.ibm.jbatch.tck.artifacts.specialized.DeciderTestsBatchlet" />
    <bean id="deciderTestsDecider" class="com.ibm.jbatch.tck.artifacts.specialized.DeciderTestsDecider" />
    <bean id="defaultValueArrayWriter" class="com.ibm.jbatch.tck.artifacts.specialized.DefaultValueArrayWriter" />
    <bean id="doSomethingArrayItemReaderImpl" class="com.ibm.jbatch.tck.artifacts.specialized.DoSomethingArrayItemReaderImpl" />
    <bean id="doSomethingArrayItemProcessorImpl" class="com.ibm.jbatch.tck.artifacts.specialized.DoSomethingArrayItemProcessorImpl" />
    <bean id="doSomethingSimpleArrayWriter" class="com.ibm.jbatch.tck.artifacts.specialized.DoSomethingArrayItemProcessorImpl" />
    <bean id="doSomethingSimpleTimeArrayReader" class="com.ibm.jbatch.tck.artifacts.specialized.DoSomethingSimpleTimeArrayReader" />
    <bean id="doSomethingSimpleTimeArrayWriter" class="com.ibm.jbatch.tck.artifacts.specialized.DoSomethingSimpleTimeArrayWriter" />
    <bean id="failRestartBatchlet" class="com.ibm.jbatch.tck.artifacts.specialized.FailRestartBatchlet" />
    <bean id="flowTransitionToDecisionTestBatchlet" class="com.ibm.jbatch.tck.artifacts.specialized.FlowTransitionToDecisionTestBatchlet" />
    <bean id="flowTransitionWithinFlowTestBatchlet" class="com.ibm.jbatch.tck.artifacts.specialized.FlowTransitionWithinFlowTestBatchlet" />
    <bean id="inventoryInitReader" class="com.ibm.jbatch.tck.artifacts.chunkartifacts.InventoryInitReader" />
    <bean id="inventoryInitProcessor" class="com.ibm.jbatch.tck.artifacts.chunkartifacts.InventoryInitProcessor" />
    <bean id="inventoryInitWriter" class="com.ibm.jbatch.tck.artifacts.chunkartifacts.InventoryInitWriter" />
    <bean id="inventoryStepListener" class="com.ibm.jbatch.tck.artifacts.chunkartifacts.InventoryStepListener" />
    <bean id="inventoryReader" class="com.ibm.jbatch.tck.artifacts.chunkartifacts.InventoryReader" />
    <bean id="inventoryProcessor" class="com.ibm.jbatch.tck.artifacts.chunkartifacts.InventoryProcessor" />
    <bean id="inventoryWriter" class="com.ibm.jbatch.tck.artifacts.chunkartifacts.InventoryWriter" />
    <bean id="inventoryCheckpointAlgorithmNoOverride" class="com.ibm.jbatch.tck.artifacts.specialized.InventoryCheckpointAlgorithmNoOverride" />
    <bean id="inventoryCheckpointAlgorithmOverride150" class="com.ibm.jbatch.tck.artifacts.specialized.InventoryCheckpointAlgorithmOverride150" />
    <bean id="jobAttributesTestBatchlet" class="com.ibm.jbatch.tck.artifacts.specialized.JobAttributesTestBatchlet" />
    <bean id="jobContextTestBatchlet" class="com.ibm.jbatch.tck.artifacts.specialized.JobContextTestBatchlet" />
    <bean id="jobLevelPropertiesCountBatchlet" class="com.ibm.jbatch.tck.artifacts.specialized.JobLevelPropertiesCountBatchlet" />
    <bean id="jobLevelPropertiesShouldNotBeAvailableThroughStepContextBatchlet" class="com.ibm.jbatch.tck.artifacts.specialized.JobLevelPropertiesShouldNotBeAvailableThroughStepContextBatchlet" />
    <bean id="jobLevelPropertiesPropertyValueBatchlet" class="com.ibm.jbatch.tck.artifacts.specialized.JobLevelPropertiesPropertyValueBatchlet" />
    <bean id="listenerOnErrorReader" class="com.ibm.jbatch.tck.artifacts.specialized.ListenerOnErrorReader" />
    <bean id="listenerOnErrorProcessor" class="com.ibm.jbatch.tck.artifacts.specialized.ListenerOnErrorProcessor" />
    <bean id="listenerOnErrorWriter" class="com.ibm.jbatch.tck.artifacts.specialized.ListenerOnErrorWriter" />
    <bean id="metricsStepListener" class="com.ibm.jbatch.tck.artifacts.specialized.MetricsStepListener" />
    <bean id="multipleExitStatusBatchlet" class="com.ibm.jbatch.tck.artifacts.specialized.MultipleExitStatusBatchlet" />
    <bean id="myBatchletImpl" class="com.ibm.jbatch.tck.artifacts.reusable.MyBatchletImpl" />
    <bean id="myBatchletWithPropertiesImpl" class="com.ibm.jbatch.tck.artifacts.specialized.MyBatchletWithPropertiesImpl" />
    <bean id="myCustomCheckpointAlgorithm" class="com.ibm.jbatch.tck.artifacts.specialized.MyCustomCheckpointAlgorithm" />
    <bean id="myCustomCheckpointListener" class="com.ibm.jbatch.tck.artifacts.specialized.MyCustomCheckpointListener" />
    <bean id="myItemReadListenerImpl" class="com.ibm.jbatch.tck.artifacts.specialized.MyItemReadListenerImpl" />
    <bean id="myItemProcessListenerImpl" class="com.ibm.jbatch.tck.artifacts.specialized.MyItemProcessListenerImpl" />
    <bean id="myItemWriteListenerImpl" class="com.ibm.jbatch.tck.artifacts.specialized.MyItemWriteListenerImpl" />
    <bean id="myLongRunningBatchlet" class="com.ibm.jbatch.tck.artifacts.specialized.MyLongRunningBatchletImpl" />
    <bean id="myMultipleExceptionsRetryReadListener" class="com.ibm.jbatch.tck.artifacts.specialized.MyMultipleExceptionsRetryReadListener" />
    <bean id="myPartitionAnalyzer" class="com.ibm.jbatch.tck.artifacts.specialized.MyPartitionAnalyzer" />
    <bean id="myPartitionCollector" class="com.ibm.jbatch.tck.artifacts.specialized.MyPartitionCollector" />
    <bean id="myPartitionReducer" class="com.ibm.jbatch.tck.artifacts.specialized.MyPartitionReducer" />
    <bean id="myParallelSubJobsExitStatusBatchlet" class="com.ibm.jbatch.tck.artifacts.reusable.MyParallelSubJobsExitStatusBatchlet" />
    <bean id="myPartitionedBatchletImpl" class="com.ibm.jbatch.tck.artifacts.specialized.MyPartitionedBatchletImpl" />
    <bean id="myPartitionMapper" class="com.ibm.jbatch.tck.artifacts.specialized.MyPartitionMapper" />
    <bean id="myPartitionCollector" class="com.ibm.jbatch.tck.artifacts.specialized.MyPartitionCollector" />
    <bean id="myPartitionAnalyzer" class="com.ibm.jbatch.tck.artifacts.specialized.MyPartitionAnalyzer" />
    <bean id="myPartitionReducer" class="com.ibm.jbatch.tck.artifacts.specialized.MyPartitionReducer" />
    <bean id="myRetryReadListener" class="com.ibm.jbatch.tck.artifacts.specialized.MyRetryReadListener" />
    <bean id="myRetryProcessListener" class="com.ibm.jbatch.tck.artifacts.specialized.MyRetryProcessListener" />
    <bean id="myRetryWriteListener" class="com.ibm.jbatch.tck.artifacts.specialized.MyRetryWriteListener" />
    <bean id="mySimpleCustomCheckpointAlgorithm" class="com.ibm.jbatch.tck.artifacts.specialized.MySimpleCustomCheckpointAlgorithm" />
    <bean id="mySkipProcessListener" class="com.ibm.jbatch.tck.artifacts.specialized.MySkipProcessListener" />
    <bean id="mySkipReaderExceedListener" class="com.ibm.jbatch.tck.artifacts.specialized.MySkipReaderExceedListener" />
    <bean id="mySkipReadListener" class="com.ibm.jbatch.tck.artifacts.specialized.MySkipReadListener" />
    <bean id="mySkipWriteListener" class="com.ibm.jbatch.tck.artifacts.specialized.MySkipWriteListener" />
    <bean id="myTimeCheckpointListener" class="com.ibm.jbatch.tck.artifacts.specialized.MyTimeCheckpointListener" />
    <bean id="myUniversalListener" class="com.ibm.jbatch.tck.artifacts.specialized.MyUniversalListener" />
    <bean id="numbersRetryReadListener" class="com.ibm.jbatch.tck.artifacts.specialized.NumbersRetryReadListener" />
    <bean id="numbersSkipReadListener" class="com.ibm.jbatch.tck.artifacts.specialized.NumbersSkipReadListener" />
    <bean id="numbersRetryProcessListener" class="com.ibm.jbatch.tck.artifacts.specialized.NumbersRetryProcessListener" />
    <bean id="numbersSkipProcessListener" class="com.ibm.jbatch.tck.artifacts.specialized.NumbersSkipProcessListener" />
    <bean id="numbersRetryWriteListener" class="com.ibm.jbatch.tck.artifacts.specialized.NumbersRetryWriteListener" />
    <bean id="numbersSkipWriteListener" class="com.ibm.jbatch.tck.artifacts.specialized.NumbersSkipWriteListener" />
    <bean id="nullChkPtInfoReader" class="com.ibm.jbatch.tck.artifacts.specialized.NullChkPtInfoReader" />
    <bean id="nullChkPtInfoWriter" class="com.ibm.jbatch.tck.artifacts.specialized.NullChkPtInfoWriter" />
    <bean id="overrideOnAttributeValuesUponRestartBatchlet" class="com.ibm.jbatch.tck.artifacts.specialized.OverrideOnAttributeValuesUponRestartBatchlet" />
    <bean id="parsingPartitionAnalyzer" class="com.ibm.jbatch.tck.artifacts.specialized.ParsingPartitionAnalyzer" />
    <bean id="retryReader" class="com.ibm.jbatch.tck.artifacts.chunkartifacts.RetryReader" />
    <bean id="retryProcessor" class="com.ibm.jbatch.tck.artifacts.chunkartifacts.RetryProcessor" />
    <bean id="retryWriter" class="com.ibm.jbatch.tck.artifacts.chunkartifacts.RetryWriter" />
    <bean id="simpleJobListener" class="/home/brent/work/jsr-352/JSR352.Tests.TCK/testArtifacts/com/ibm/jbatch/tck/artifacts/reusable/SimpleJobListener.java" />
    <bean id="skipProcessor" class="com.ibm.jbatch.tck.artifacts.specialized.SkipProcessor" />
    <bean id="skipReader" class="com.ibm.jbatch.tck.artifacts.specialized.SkipReader" />
    <bean id="skipReaderMultipleExceptions" class="com.ibm.jbatch.tck.artifacts.specialized.SkipReaderMultipleExceptions" />
    <bean id="skipWriter" class="com.ibm.jbatch.tck.artifacts.specialized.SkipWriter" />
    <bean id="splitFlowTransitionLoopTestBatchlet" class="com.ibm.jbatch.tck.artifacts.specialized.SplitFlowTransitionLoopTestBatchlet" />
    <bean id="splitTransitionToDecisionTestBatchlet" class="com.ibm.jbatch.tck.artifacts.specialized.SplitTransitionToDecisionTestBatchlet" />
    <bean id="splitTransitionToDecisionTestDecider" class="com.ibm.jbatch.tck.artifacts.specialized.SplitTransitionToDecisionTestDecider" />
    <bean id="splitTransitionToStepTestBatchlet" class="com.ibm.jbatch.tck.artifacts.specialized.SplitTransitionToStepTestBatchlet" />
    <bean id="startLimitJobListener" class="com.ibm.jbatch.tck.artifacts.specialized.StartLimitJobListener" />
    <bean id="stepContextTestBatchlet" class="com.ibm.jbatch.tck.artifacts.specialized.StepContextTestBatchlet" />
    <bean id="stepLevelPropertiesCountBatchlet" class="com.ibm.jbatch.tck.artifacts.specialized.StepLevelPropertiesCountBatchlet" />
    <bean id="stepLevelPropertiesShouldNotBeAvailableThroughJobContextBatchlet" class="com.ibm.jbatch.tck.artifacts.specialized.StepLevelPropertiesShouldNotBeAvailableThroughJobContextBatchlet" />
    <bean id="stepLevelPropertiesPropertyValueBatchlet" class="com.ibm.jbatch.tck.artifacts.specialized.StepLevelPropertiesPropertyValueBatchlet" />
    <bean id="threadTrackingJobListener" class="com.ibm.jbatch.tck.artifacts.specialized.ThreadTrackingJobListener" />
    <bean id="threadTrackingStepListener" class="com.ibm.jbatch.tck.artifacts.specialized.ThreadTrackingStepListener" />
    <bean id="transitionDecider" class="com.ibm.jbatch.tck.artifacts.specialized.TransitionDecider" />
    <bean id="transitionTrackerBatchlet" class="com.ibm.jbatch.tck.artifacts.reusable.TransitionTrackerBatchlet" />
</beans>