<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="io.machinecode.chainlink.repository.infinispan">
    <resources>
        <resource-root path="chainlink-repository-infinispan-${project.version}.jar"/>
    </resources>

    <dependencies>
        <module name="gnu.trove"/>
        <module name="io.machinecode.chainlink"/>
        <module name="javax.api"/>
        <module name="javax.batch.api"/>
        <module name="javax.transaction.api"/>
        <module name="org.infinispan"/>
    </dependencies>
</module>
